<div class="card">
    <div class="card-body">
        <samp class="cursor" (click)="back()"> < Back </samp>
        <form [formGroup]="profileForm">
    <div class="row">
        <div class="col-md-6 mt-3">
            <label for="first-name" class="form-label">Name: </label>
            <input id="first-name" class="form-control" type="text" formControlName="firstName" required>
        </div>
        <div class="col-md-6 mt-3">
            <label for="last-name">Email: </label>
            <input id="last-name" class="form-control" type="text" formControlName="email">
        </div>
        <div class="col-md-6 mt-3">
            <label for="street">Date Of Birth: </label>
            <input id="street" class="form-control" type="date" formControlName="birthDate">
        </div>
        <!-- <div class="col-md-6">
            <label for="city">Avtar: </label>
            <input id="city" class="form-control" type="text" formControlName="avtar">
        </div> -->
        <div class="col-md-6 mt-3">
            <label for="state">Country: </label>
            <input id="state" class="form-control" type="text" formControlName="country">
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <button *ngIf="nameId" class="btn btn-primary d-flex justify-content-center" (click)="updateuser()">Update</button>

        <button *ngIf="!nameId" class="btn btn-primary d-flex justify-content-center" (click)="addUser()">Create</button>
    
    </div>
    <!-- <button type="submit">Submit</button> -->
</form>
    </div>

</div>
